.completed_todo_row {
    margin-bottom: 5px;
}

.completed_todo {
    display: inline-block;
    padding: 15px 0;
    margin-right: 10px;
    text-decoration: line-through;
}

.image_avatar {
    text-align: center;
}
