.signin__signup h1 {
    font-weight: bold;
    margin: 0;
}

.signin__signup h2 {
    text-align: center;
}

.signin__signup p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

.signin__signup span {
    font-size: 12px;
}

.signin__signup a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.signin__signup button {
    border-radius: 20px;
    border: 1px solid #5be0ee;
    background-color: #03a9f4;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.signin__signup button:active {
    transform: scale(0.95);
}

.signin__signup button:focus {
    outline: none;
}

.signin__signup button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

.signin__signup form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.signin__signup input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.signin__signup .container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.signin__signup .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.signin__signup .form-container p {
    margin: 0;
}

.signin__signup .sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.signin__signup .container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.signin__signup .sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.signin__signup .container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

.signin__signup @keyframes show {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.signin__signup .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.signin__signup .container.right-panel-active .overlay-container{
    transform: translateX(-100%);
}

.signin__signup .overlay {
    /*background: #03a9f4;*/
    background: -webkit-linear-gradient(to right, #5be0ee, rgba(3, 169, 244, 0.73));
    background: linear-gradient(to right, #5be0ee, #03a9f4);
    /*#e1f5f7*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.signin__signup .container.right-panel-active .overlay {
    transform: translateX(50%);
}

.signin__signup .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.signin__signup .overlay-left {
    transform: translateX(-20%);
}

.signin__signup .container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.signin__signup .overlay-right {
    right: 0;
    transform: translateX(0);
}

.signin__signup .container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.signin__signup .social-container {
    margin: 20px 0;
}

.signin__signup .social-container a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

#signup__button {
    margin-top: 5px;
}

.signin__signup footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

.signin__signup footer p {
    margin: 10px 0;
}

.signin__signup footer i {
    color: red;
}

.signin__signup footer a {
    color: #3c97bf;
    text-decoration: none;
}


/* Mobile sign in and sign up*/
.signInForMobile,
.signUpForMobile {
    width: 100%;
}
#switchButtonForMobile {
    margin-top: 10px;

}

@media only screen and (max-width: 500px) {
    .signInForMobile .form-control,
    .signUpForMobile .form-control {
        width: 90%;
    }
}



/*BUTTON*/
button:disabled,
button:hover:disabled,
button:active:disabled {
    background: #ccc;
    color: #979797;
    border-color: #ccc;
    cursor: not-allowed;
}


form {
    overflow-y: auto;
}

@media only screen and (max-width: 590px) {
    h3 {
        font-size: 2rem
    }
    h4 {
        font-size: 1.8rem;
    }
    form {
        padding: 0 15px !important;
    }
}

@media only screen and (max-width: 507px) {
    .signin__signup button {
        padding: 12px 30px;
    }
}

@media only screen and (max-width: 453px) {
    .signin__signup button {
        padding: 12px 15px;
    }
    .overlay-panel {
        padding: 0 5px !important;
    }
}

@media only screen and (max-width: 410px) {
    input {
        font-size: 12px !important;
    }
}

@media only screen and (max-width: 400px) {
    h3 {
        font-size: 1.8rem
    }
    h4 {
        font-size: 1.5rem;
    }
}
