.dashboard__work-summary {
    padding: 20px;
}

.dashboard .dashboard__work-summary h5 {
    text-align: center;
    color: #311b92;
}

.dashboard__work-summary .card {
    border-radius: 25px;
    display: flex;
    justify-content: center;
}

.project_summary {
    padding: 3px;

}

.project_summary__project-name {
    background-color: #2020ef;
    padding: 5px;
}

.project_summary thead th {
    border-radius: 2px;
    color: white;
    line-height: 10px;
    text-align: center;
}
.project_summary tbody td {
    line-height: 15px;
    /* For text overflow */
    max-width: 0; /*Without this overflow not working */
    overflow: hidden;
    text-overflow: ellipsis;
}
