.main {
    padding-left: 255px;
}

.sidenav {
    top: 64px;
    width: 250px;
    overflow-y: auto;
    position:fixed;
}

@media only screen and (max-width: 992px) {
    .main{
        padding-left: 0;
    }
}

/*At 660px width navbar become 56px from 64px so little gap between navbar and sidenav occur which looks ugly.
So then solution is reduce the top of sidenav.*/
@media only screen and (max-width: 660px) {
    .sidenav {
        top: 56px;
    }
}

/*navar*/

#navbar__button {
    background: none !important;
    border: none;
    padding: 0 !important;
    color: white;
    cursor: pointer;
}

#sidebar__button {
    background: none !important;
    border: none;
    padding: 0;
    font-weight: 500;
    font-size: 14px;
    color: rgba(0,0,0,0.87);
    cursor: pointer;
}

.image_navbar {
    height: 100px;
    object-fit: cover;
}

@media only screen and (min-width: 993px) {
    .nav-wrapper {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 401px) {
    .brand-logo {
        font-size: 1.6rem !important;
    }
}
