.not_fixed_bug_row {
    margin-bottom: 5px;
}

.not_fixed_bug {
    display: inline-block;
    padding: 15px 0;
    margin-right: 10px;
}

#delete, #edit {
    opacity: 0;
    margin: 20px 10px;
    display: inline;
}
.not_fixed_bug_row:hover > #delete {
    opacity: 1;
}
.not_fixed_bug_row:hover > #edit {
    opacity: 1;
}
