.project_item .card-content {
    padding: 18px;
    line-height: 20px;
}

.project_item .card-content p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.project_item .card-title {
    font-size: 20px ;
    line-height: 25px !important;
    text-align: center;
    margin: 0 !important;
}

.project_item .grey-text {
    text-align: center;
}

.project_item .summary {
    display: flex;
}

.project_item #right,
.project_item #left {
    padding: 0;
    display: flex;
    justify-content: center;
}

.project_item .card-action {
    padding: 5px 0;
}

.project_item .collection {
    display: flex;
    margin-bottom: 0;
    justify-content: center;
    margin-left: -21px;
    overflow: hidden;
    border: none;
}

.project_item .collection-item  {
    padding: 0 !important;
    border-bottom: none;
}

.project_item .avatar {
    padding: 0;
    min-height: 50px;
}

.project_item .avatar:first-child {
    padding-left: 0;
}
