.uploadImage__div {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.previewImage {
    margin: 30px auto;
    max-width: 100%;
}

.image-selection {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 40vw;
}

.image-selector >
.image-selector > * { /* Select all child */
    display: inline;
}

input[type=file]::file-selector-button {
    border: 2px solid #29b6f6;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #4fc3f7;
    transition: 1s;
}

input[type=file]::file-selector-button:hover {
    background-color: #8cd8fa;
    border: 2px solid #5eccfd;
}
