.project__navigationButton {
    display: inline-block;
    /*margin: 0 5px;*/
    line-height: 10px;
    padding: 20px 14px;
}

.project__navigationButton a{
    color: black !important;
    /*text-decoration: none;*/
}
.project__navigationButton a:active{
    /*border-bottom: 1px solid black;*/
}

/*.projects__threeButton a .fas{*/
/*    margin-right: 5px;*/
/*}*/

.numberIcon {
    background: black;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 5px;
    text-align: center;
    width: 1.6em;
}

.numberCircle {
    background: #0000fa;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 15px;
    text-align: center;
    width: 1.6em;
    margin-left: 5px;
}

.project_navigationRow {
    margin: 0 !important;
    display: flex;
    justify-content: space-between;
}

.project_navigationRow .selected {
    border: 1px solid blue;
}



@media only screen and (max-width: 1200px) {
    .project__navigationButton {
        padding: 10px 1px;
    }
}

@media only screen and (max-width: 717px) {
    .project_navigationRow {
        /*display: block;*/
        margin-right: 5px;
    }
    .project__navigationButton {
        padding: 10px 0;
    }
}

@media only screen and (max-width: 706px) {
    .project_navigationRow {
        margin-right: 1px;
    }
    .numberIcon {
        margin: 0 2px 0 0;
    }
    .numberCircle {
        margin: 0 3px 0 3px;
    }
}

@media only screen and (max-width: 650px) {
    .project_navigationRow {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .numberCircle {
        margin: 0 5px 0 5px;
    }
    /*.numberIcon {*/
    /*    margin: 0 2px 0 0;*/
    /*}*/
}

@media only screen and (max-width: 413px) {
    .project_navigationRow {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
