body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.iconCircle {
  background: black;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 1.6em;
}

.numberCircle {
  background: #0000fa;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 1.6em;
  margin-left: 5px;
}

.main .row {
  margin: 20px;
}

/*For navigation row (all projects and project)*/
.selected {
  border-bottom: 3px solid blue;
}

.avatar {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 5px;
    margin-bottom: 5px;
}

.add-btn {
  padding: 10px;
}

.form-control {
  max-width: 700px;
  margin: 0 auto;
}

.modal-content .form-control {
  min-width: 100%;
}

/* For todo(not completed) and bug(fixed bug) */
.subTodo {
  padding-left: 20px;
}
.delete ,
.edit {
  opacity: 0;
  margin: 0 10px 0 10px;
  display: none;
}
.delete {
  color: red;
}

/* For todo(not completed) and bug(fixed bug) */
.showElementOnHover:hover .delete {
  opacity: 1;
  display: contents;
}

/* For todo(not completed) and bug(fixed bug) */
.showElementOnHover:hover .edit {
  opacity: 1;
  display: inline-block;
}

/* For mobile always show edit and delete */
.showEdit, .showDelete { opacity: 1; }
.showEdit { display: inline-block; }
.showDelete { display: contents; }

/* For todo(not completed and completed todo) and bug(fixed and not fixed bug) */
.not-fixed-bug__text,
.fixed-bug__text,
.completed-todo__text,
.incomplete-todo__text {
  display: inline;
}

.fixed-bug,
.not-fixed-bug,
.completed-todo,
.incomplete-todo {
  margin-bottom: 5px;
  overflow: auto;
  padding: 10px !important;
}

.fixed-bug .avatar,
.not-fixed-bug .avatar,
.completed-todo .avatar,
.incomplete-todo .avatar {
  margin-left: 5px;
}

.fixed-bug__text,
.completed-todo__text {
  text-decoration: line-through;
}

/*Avatar for profile and edit profile*/
.profile_avatar {
  max-width: 60vw;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 992px) {
  .profile_avatar {
    max-width: 80vw;
  }
}

button {
  border: none;
}
