.activity_details_row {
    float: right !important;
    padding-right: 0 !important;
}

.activity_details_row__div {
    padding: 3px 3px 3px 7px;
    margin: 3px;
    overflow: auto;
}

@media only screen and (max-width: 600px) {
    .activity_details_row {
        padding-right: 10px !important;
    }
}
